<div class="container-fluid">
  <div class="d-flex">
    <div [ngClass]="showDetail ? 'col-lg-8 col-md-8' : 'col-lg-12'">
      <div class="card">
        <div class="row p-4">
          <div class="col-6">
            <h4 class="card-title" style="padding: 0px; font-size: 1.5rem">
              Affiliate Packages
            </h4>
            <p style="font-size: 1rem">List available affiliate packages.</p>
          </div>
          <div class="col-6">
            <button
              class="btn btn-primary text-right"
              style="
                display: flex;
                flex-direction: row;
                align-items: center;
                float: right;
              "
              (click)="createRecordModal(createItemModal)"
            >
              <!-- <app-keenicon name="plus-square" class="fs-3"></app-keenicon> -->
              <span style="margin-left: 6px">Create Affiliate Package</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-12">
              <!-- search field goes here -->
            </div>
          </div>

          <div class="table-responsive">
            <table class="table align-middle gs-0 gy-4">
              <thead>
                <tr class="fw-bolder text-white bg-primary">
                  <th class="min-w-10px text-gray-900 text-end"></th>
                  <th class="min-w-100px text-gray-900">Package Name</th>
                  <th class="min-w-50px text-gray-900">Description</th>
                  <th class="min-w-100px text-gray-900">Created At</th>
                  <th class="min-w-100px text-gray-900"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngIf="
                    (affiliatePackages$ | async)?.data != null ||
                    (affiliatePackages$ | async)?.data > 0
                  "
                >
                  <tr *ngFor="let item of (affiliatePackages$ | async)?.data">
                    <td class="text-end">
                      <a (click)="viewRecord(item)" style="cursor: pointer">
                        <i class="bx bx-pointer"></i>
                        Edit
                      </a>
                    </td>
                    <td>
                      {{ item.packageName }}
                    </td>
                    <td>
                      {{ item.description }}
                    </td>
                    <td>
                      {{ item?.createdAt | date }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="showDetail"
      class="col-lg-4 col-md-4 border border-primary border-dashed receipt-container"
    >
      <div class="card mb-9">
        <div class="card-body pt-9 pb-9 pb-0">
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: 1rem;
            "
          >
            <div class="fw-bold fs-5 text-gray-800 mb-4">
              Affiliate Package Detail
            </div>
            <a
              (click)="closeDetail()"
              class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
              style="cursor: pointer"
            >
              <!-- <app-keenicon name="abstract-11" class="fs-3"></app-keenicon> -->
              Close Details
            </a>
          </div>

          <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
            <div class="me-7 mb-4">
              <div
                class="symbol symbol-100px symbol-lg-70px symbol-fixed position-relative"
              >
                <img
                  src="./assets/images/users/default-img.jpg"
                  width="50px"
                  alt="Metronic"
                />
                <div
                  class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px"
                ></div>
              </div>
            </div>

            <div style="margin-left: 1rem" class="flex-grow-1">
              <div
                class="d-flex justify-content-between align-items-start flex-wrap mb-2"
              >
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center mb-2">
                    <a
                      class="text-gray-800 text-primary fs-5 fw-bolder me-1 cursor-pointer"
                    >
                      {{ affiliatePackage?.packageName }}
                    </a>

                    <a
                      class="text-primary"
                      (click)="updateRecordModal(updateItemModal)"
                      style="cursor: pointer"
                      >Edit</a
                    >
                  </div>

                  <div class="d-flex flex-wrap fw-bold fs-6 mb-1 pe-2">
                    <a
                      class="d-flex align-items-center text-black-500 me-5 mb-2 cursor-pointer"
                      style="font-size: 12px; color: black"
                    >
                      Created By: {{ affiliatePackage?.createdBy }}
                    </a>
                    <a
                      class="d-flex align-items-center text-black-500 mb-2 cursor-pointer"
                      style="font-size: 12px; color: black"
                    >
                      Created At:
                      {{ affiliatePackage?.createdAt | date }}
                    </a>
                  </div>
                </div>
              </div>

              <div class="d-flex flex-wrap flex-stack">
                <div class="d-flex flex-column flex-grow-1 pe-8">
                  <div class="row mb-7 fw-bold fs-6">
                    <div class="col-lg-12 fv-row">
                      <label class="fw-semibold fs-6 mb-2"> Description </label>
                      <br />
                      {{ affiliatePackage?.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex overflow-auto h-55px">
            <ul
              class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold flex-nowrap"
            >
              <li class="nav-item">
                <a
                  (click)="toggleTab('price-history')"
                  class="nav-link text-active-primary me-2"
                  [ngClass]="{
                    'active-tab': tabType == 'price-history'
                  }"
                  [ngStyle]="{
                    'background-color':
                      tabType == 'price-history'
                        ? '#450000'
                        : 'transparent',
                    color:
                      tabType == 'price-history' ? 'white' : 'inherit',
                    'border-bottom-color': '#450000',
                    cursor: 'pointer',
                    borderRadius: '5px',
                    fontSize: '.75rem',
                    padding: '0.5rem 1rem'
                  }"
                >
                  Prices
                </a>
              </li>
              <li class="nav-item">
                <a
                  (click)="toggleTab('direct-sale-commission')"
                  class="nav-link text-active-primary me-2"
                  [ngClass]="{
                    'active-tab': tabType == 'direct-sale-commission'
                  }"
                  [ngStyle]="{
                    'background-color':
                      tabType == 'direct-sale-commission'
                        ? '#450000'
                        : 'transparent',
                    color:
                      tabType == 'direct-sale-commission' ? 'white' : 'inherit',
                    'border-bottom-color': '#450000',
                    cursor: 'pointer',
                    borderRadius: '5px',
                    fontSize: '.75rem',
                    padding: '0.5rem 1rem'
                  }"
                >
                  Direct Sale Commission
                </a>
              </li>
              <li class="nav-item">
                <a
                  (click)="toggleTab('indirect-sale-commission')"
                  class="nav-link text-active-primary me-2"
                  [ngClass]="{
                    'active-tab': tabType == 'indirect-sale-commission'
                  }"
                  [ngStyle]="{
                    'background-color':
                      tabType == 'indirect-sale-commission'
                        ? '#450000'
                        : 'transparent',
                    color:
                      tabType == 'indirect-sale-commission'
                        ? 'white'
                        : 'inherit',
                    'border-bottom-color': '#450000',
                    cursor: 'pointer',
                    borderRadius: '5px',
                    fontSize: '.75rem',
                    padding: '0.5rem 1rem'
                  }"
                >
                  Indirect Sale Commission
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <ng-container *ngIf="tabType == 'price-history'">
        <div class="card col-lg-12 h-50">
          <div class="row p-4">
            <div class="col-12">
              <h3 class="card-title d-flex align-items-start flex-column">
                <span class="card-label fw-bolder fs-5 mb-1"
                  >Package Price History</span
                >
                <span class="text-muted mt-1 fw-bold fs-7"
                  >List package price history</span
                >
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                (click)="
                  showCreatePakagePriceModal(
                    createPakagePriceTemplate
                  )
                "
                class="btn btn-primary"
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin-right: 1rem;
                  float: right;
                "
              >
                <span style="margin-left: 6px">
                  Update Package Price
                </span>
              </button>
            </div>
          </div>

          <div class="card-body py-3" style="padding: 0px 0px">
            <div class="row">
              <div class="table-responsive">
                <table class="table align-middle gs-0 gy-1">
                  <thead>
                    <tr class="fw-bolder text-white bg-primary">
                      <th class="min-w-20px text-gray-900 text-center">ID</th>
                      <th class="min-w-350px text-gray-900 text-center">Price</th>
                      <th class="min-w-350px text-gray-900 text-center">Status</th>
                      <th class="min-w-100px text-gray-900">Created By</th>
                      <th class="min-w-100px text-gray-900">Created At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="(packagePrices$ | async)?.length > 0"
                    >
                      <tr *ngFor="let item of packagePrices$ | async">
                        <td class="text-center">
                          {{ item.id }}
                        </td>
                        <td class="text-center">
                          {{ item.amount | number }}
                        </td>
                        <td class="text-center">
                          {{ item.status }}
                        </td>
                        <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                        <td>
                          {{ item?.createdAt | date }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="tabType == 'direct-sale-commission'">
        <div class="card col-lg-12 h-50">
          <div class="row p-4">
            <div class="col-12">
              <h3 class="card-title d-flex align-items-start flex-column">
                <span class="card-label fw-bolder fs-5 mb-1"
                  >Direct Sale Commissions</span
                >
                <span class="text-muted mt-1 fw-bold fs-7"
                  >List all direct sale commissions</span
                >
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                (click)="
                  showCreateDirectSaleCommissionModal(
                    createDirectSaleCommissionTemplate
                  )
                "
                class="btn btn-primary"
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin-right: 1rem;
                  float: right;
                "
              >
                <span style="margin-left: 6px">
                  Update Direct Sale Commission
                </span>
              </button>
            </div>
          </div>

          <div class="card-body py-3" style="padding: 0px 0px">
            <div class="row">
              <div class="table-responsive">
                <table class="table align-middle gs-0 gy-1">
                  <thead>
                    <tr class="fw-bolder text-white bg-primary">
                      <th class="min-w-20px text-gray-900 text-center">ID</th>
                      <th class="min-w-350px text-gray-900 text-center">Commission</th>
                      <th class="min-w-350px text-gray-900 text-center">Status</th>
                      <th class="min-w-100px text-gray-900">Created By</th>
                      <th class="min-w-100px text-gray-900">Created At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="(directSaleCommissions$ | async)?.length > 0"
                    >
                      <tr *ngFor="let item of directSaleCommissions$ | async">
                        <td class="text-center">
                          {{ item.id }}
                        </td>
                        <td class="text-center">
                          {{ item.commission | number }}
                        </td>
                        <td class="text-center">
                          {{ item.status }}
                        </td>
                        <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                        <td>
                          {{ item?.createdAt | date }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="tabType == 'indirect-sale-commission'">
        <div class="card col-lg-12 h-50">
          <div class="row p-4">
            <div class="col-12">
              <h3 class="card-title d-flex align-items-start flex-column">
                <span class="card-label fw-bolder fs-5 mb-1"
                  >Indirect Sale Commissions</span
                >
                <span class="text-muted mt-1 fw-bold fs-7"
                  >List all indirect sale commissions</span
                >
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                (click)="
                  showCreateIndirectSaleCommissionModal(
                    createIndirectSaleCommissionTemplate
                  )
                "
                class="btn btn-primary"
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin-right: 1rem;
                  float: right;
                "
              >
                <span style="margin-left: 6px">
                  Update Indirect Sale Commission
                </span>
              </button>
            </div>
          </div>

          <div class="card-body py-3" style="padding: 0px 0px">
            <div class="row">
              <div class="table-responsive">
                <table class="table align-middle gs-0 gy-1">
                  <thead>
                    <tr class="fw-bolder text-white bg-primary">
                      <th class="min-w-20px text-gray-900 text-center">ID</th>
                      <th class="min-w-350px text-gray-900 text-center">Commission</th>
                      <th class="min-w-350px text-gray-900 text-center">Status</th>
                      <th class="min-w-100px text-gray-900">Created By</th>
                      <th class="min-w-100px text-gray-900">Created At</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="(indirectSaleCommissions$ | async)?.length > 0"
                    >
                      <tr *ngFor="let item of indirectSaleCommissions$ | async">
                        <td class="text-center">
                          {{ item.id }}
                        </td>
                        <td class="text-center">
                          {{ item.commission | number }}
                        </td>
                        <td class="text-center">
                          {{ item.status }}
                        </td>
                        <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                        <td>
                          {{ item?.createdAt | date }}
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #createItemModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Affiliate Package</h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="packageName"
            [class.text-danger]="packageName.invalid &amp;&amp; packageName.touched"
            class="form-label"
            >Package Name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            name="packageName"
            #packageName="ngModel"
            [(ngModel)]="obj.packageName"
            [class.is-invalid]="packageName.invalid &amp;&amp; packageName.touched"
            placeholder="Enter Package Name"
            required
          />

          <div *ngIf="packageName.invalid &amp;&amp; packageName.touched">
            <small *ngIf="packageName.errors?.required" class="text-danger"
              >Package Name is Required</small
            >
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="description"
            [class.text-danger]="description.invalid &amp;&amp; description.touched"
            class="form-label"
            >Description <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control"
            name="description"
            #description="ngModel"
            [(ngModel)]="obj.description"
            [class.is-invalid]="description.invalid &amp;&amp; description.touched"
            placeholder="Enter Description"
            required
          ></textarea>
          <div *ngIf="description.invalid &amp;&amp; description.touched">
            <small *ngIf="description.errors?.required" class="text-danger"
              >Description is Required</small
            >
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="default"
            [class.text-danger]="default.invalid &amp;&amp; default.touched"
            class="form-label"
            >Status <span class="text-danger">*</span></label
          >
          <ng-select
            [items]="statusList"
            bindValue="id"
            bindLabel="name"
            name="default"
            #default="ngModel"
            [(ngModel)]="obj.default"
            [class.is-invalid]="default.invalid &amp;&amp; default.touched"
            placeholder="--Select Status--"
            required
          ></ng-select>

          <div *ngIf="default.invalid &amp;&amp; default.touched">
            <small *ngIf="default.errors?.required" class="text-danger"
              >Status is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button *ngIf="!isLoading" class="btn btn-danger" (click)="closeModal()">
        Cancel
      </button>
      <button
        *ngIf="isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        disabled
      >
        Processing <span><i class="bx bx-loader bx-spin"></i></span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #updateItemModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Affiliate Package</h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="packageName"
            [class.text-danger]="packageName.invalid &amp;&amp; packageName.touched"
            class="form-label"
            >Package Name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            name="packageName"
            #packageName="ngModel"
            [(ngModel)]="obj.packageName"
            [class.is-invalid]="packageName.invalid &amp;&amp; packageName.touched"
            placeholder="Enter Package Name"
            required
          />

          <div *ngIf="packageName.invalid &amp;&amp; packageName.touched">
            <small *ngIf="packageName.errors?.required" class="text-danger"
              >Package Name is Required</small
            >
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="description"
            [class.text-danger]="description.invalid &amp;&amp; description.touched"
            class="form-label"
            >Description <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control"
            name="description"
            #description="ngModel"
            [(ngModel)]="obj.description"
            [class.is-invalid]="description.invalid &amp;&amp; description.touched"
            placeholder="Enter Description"
            required
          ></textarea>
          <div *ngIf="description.invalid &amp;&amp; description.touched">
            <small *ngIf="description.errors?.required" class="text-danger"
              >Description is Required</small
            >
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="default"
            [class.text-danger]="default.invalid &amp;&amp; default.touched"
            class="form-label"
            >Status <span class="text-danger">*</span></label
          >
          <ng-select
            [items]="statusList"
            bindValue="id"
            bindLabel="name"
            name="default"
            #default="ngModel"
            [(ngModel)]="obj.default"
            [class.is-invalid]="default.invalid &amp;&amp; default.touched"
            placeholder="--Select Status--"
            required
          ></ng-select>

          <div *ngIf="default.invalid &amp;&amp; default.touched">
            <small *ngIf="default.errors?.required" class="text-danger"
              >Status is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        (click)="onUpdate()"
      >
        Update
      </button>
      <button *ngIf="!isLoading" class="btn btn-danger" (click)="closeModal()">
        Cancel
      </button>
      <button
        *ngIf="isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        disabled
      >
        Processing <span><i class="bx bx-loader bx-spin"></i></span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #createPakagePriceTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Update Package Price
    </h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="amount"
            [class.text-danger]="amount.invalid &amp;&amp; amount.touched"
            class="form-label"
            >Package Price <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            name="amount"
            #amount="ngModel"
            [(ngModel)]="packagePrice.amount"
            [class.is-invalid]="amount.invalid &amp;&amp; amount.touched"
            placeholder="Enter Package Price"
            required
          />

          <div *ngIf="amount.invalid &amp;&amp; amount.touched">
            <small *ngIf="amount.errors?.required" class="text-danger"
              >Package price is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        (click)="onSubmitPackagePrice()"
      >
        Submit
      </button>
      <button *ngIf="!isLoading" class="btn btn-danger" (click)="closeModal()">
        Cancel
      </button>
      <button
        *ngIf="isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        disabled
      >
        Processing <span><i class="bx bx-loader bx-spin"></i></span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #createDirectSaleCommissionTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Update Direct Sale Commission
    </h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="commission"
            [class.text-danger]="commission.invalid &amp;&amp; commission.touched"
            class="form-label"
            >Direct Sale Commission <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            name="commission"
            #commission="ngModel"
            [(ngModel)]="directSaleCommission.commission"
            [class.is-invalid]="commission.invalid &amp;&amp; commission.touched"
            placeholder="Enter Commission Percentage"
            required
          />

          <div *ngIf="commission.invalid &amp;&amp; commission.touched">
            <small *ngIf="commission.errors?.required" class="text-danger"
              >Direct sale commission is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        (click)="onSubmitDirectSaleCommission()"
      >
        Submit
      </button>
      <button *ngIf="!isLoading" class="btn btn-danger" (click)="closeModal()">
        Cancel
      </button>
      <button
        *ngIf="isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        disabled
      >
        Processing <span><i class="bx bx-loader bx-spin"></i></span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #createIndirectSaleCommissionTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Update Indirect Sale Commission
    </h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="commission"
            [class.text-danger]="commission.invalid &amp;&amp; commission.touched"
            class="form-label"
            >Indirect Sale Commission <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            name="commission"
            #commission="ngModel"
            [(ngModel)]="indirectSaleCommission.commission"
            [class.is-invalid]="commission.invalid &amp;&amp; commission.touched"
            placeholder="Enter Commission Percentage"
            required
          />

          <div *ngIf="commission.invalid &amp;&amp; commission.touched">
            <small *ngIf="commission.errors?.required" class="text-danger"
              >Indirect sale commission is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        (click)="onSubmitIndirectSaleCommission()"
      >
        Submit
      </button>
      <button *ngIf="!isLoading" class="btn btn-danger" (click)="closeModal()">
        Cancel
      </button>
      <button
        *ngIf="isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        disabled
      >
        Processing <span><i class="bx bx-loader bx-spin"></i></span>
      </button>
    </div>
  </div>
</ng-template>
