<div class="container-fluid">
  <app-loader></app-loader>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <div>
          <h4 class="mb-0 font-size-18">Dashboard</h4>
          <p class="font-size-15">
            Hi, <strong>{{ first_name }}</strong
            >. Welcome back to Cadlands!
          </p>
        </div>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item active">Welcome to Dashboard</li> -->
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-md-2" style="width: 20% !important">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fw-medium">Total Affiliates</p>
              <h4 class="mb-0">{{ 0 }}</h4>
            </div>

            <div
              class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
            >
              <span class="avatar-title">
                <i class="bx bx-user font-size-24"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2" style="width: 20% !important">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fw-medium">Total Customers</p>
              <h4 class="mb-0">{{ 0 }}</h4>
            </div>

            <div
              class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
            >
              <span class="avatar-title">
                <i class="bx bx-user font-size-24"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2" style="width: 20% !important">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fw-medium">Total Estates</p>
              <h4 class="mb-0">{{ 0 }}</h4>
            </div>

            <div
              class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
            >
              <span class="avatar-title">
                <i class="bx bx-user font-size-24"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2" style="width: 20% !important">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fw-medium">Total Properties</p>
              <h4 class="mb-0">{{ 0 }}</h4>
            </div>

            <div
              class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
            >
              <span class="avatar-title">
                <i class="bx bx-user font-size-24"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2" style="width: 20% !important">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fw-medium">Total Application</p>
              <h4 class="mb-0">{{ 0 }}</h4>
            </div>

            <div
              class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"
            >
              <span class="avatar-title">
                <i class="bx bx-user font-size-24"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card" style="box-shadow: 0 0 3px #cecbcb">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-12">
              <!-- search field goes here -->
            </div>
          </div>

          <div class="table-responsive">
            <table class="table align-middle gs-0 gy-4">
              <thead>
                <tr class="fw-bolder text-muted bg-light">
                  <!-- <th class="min-w-10px text-gray-900 text-end"></th> -->
                  <th class="min-w-100px text-gray-900">ID</th>
                  <th class="min-w-100px text-gray-900">Estate</th>
                  <th class="min-w-100px text-gray-900">Property Type</th>
                  <th class="min-w-50px text-gray-900 text-center">
                    Plot Size
                  </th>
                  <th class="min-w-50px text-gray-900 text-center">
                    Price (per plot)
                  </th>
                  <th class="min-w-50px text-gray-900">Customer</th>
                  <th class="min-w-50px text-gray-900">Phone</th>
                  <th class="min-w-50px text-gray-900 text-center">
                    Total Plots
                  </th>
                  <th class="min-w-50px text-gray-900 text-center">
                    Total Amount
                  </th>
                  <th class="min-w-50px text-gray-900 text-center">
                    Payment Status
                  </th>
                  <th class="min-w-50px text-gray-900 text-center">
                    Payment Date
                  </th>
                  <th class="min-w-50px text-gray-900 text-center">Status</th>
                  <th class="min-w-100px text-gray-900">Created At</th>
                  <th class="min-w-100px text-gray-900"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="data?.applications != null">
                  <tr *ngFor="let item of data?.applications">
                    <!-- <td class="text-end">
                      <a
                        (click)="viewRecord(item)"
                        class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                      >
                        View Detail
                      </a>
                    </td> -->
                    <td>
                      {{ item?.id }}
                    </td>
                    <td>
                      {{ item?.propertyTemplate?.estate?.name }}
                    </td>
                    <td>
                      {{ item.propertyTemplate?.templateName }}
                    </td>
                    <td class="text-center">
                      {{ item.propertyTemplate?.size }} sqm
                    </td>
                    <td class="text-center">
                      {{ item.currentPrice?.price | number }}
                    </td>
                    <td>
                      {{ item.customer?.title || "" }}
                      {{ item.customer?.firstName || "" }}
                      {{ item.customer?.lastName || "" }}
                    </td>
                    <td>
                      {{ item.customer?.phone }}
                    </td>
                    <td class="text-center">
                      {{ item?.units }}
                    </td>
                    <td class="text-center">
                      {{ item?.amount | number }}
                    </td>
                    <td class="text-center">
                      {{ item?.paymentStatus }}
                    </td>
                    <td class="text-center">
                      {{ (item?.paymentDate | date) ?? "---" }}
                    </td>
                    <td class="text-center">
                      {{ item?.status }}
                    </td>
                    <td>
                      {{ item?.createdAt | date }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->
<ng-template #appointmentDetailModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Appointment Details - Appointment Status ({{ appointmentDetail?.status }})
    </h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row">
        <h5>Customer Information</h5>
        <br />
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="userId" class="form-label">Customer Name</label>
            <br />
            <b>{{ appointmentDetail?.customer }}</b>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="userId" class="form-label">Customer Phone</label>
            <br />
            <b>{{ appointmentDetail?.customer_phone }}</b>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="userId" class="form-label">Customer Email</label>
            <br />
            <b>{{ appointmentDetail?.customer_email }}</b>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <h5>Staff Information</h5>
        <br />

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="adminId" class="form-label">Admin Name</label>
            <br />
            <b>{{ appointmentDetail?.admin_name }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="userId" class="form-label">Admin Phone</label>
            <br />
            <b>{{ appointmentDetail?.admin_phone }}</b>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <h5>Appointment Information</h5>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="categoryId" class="form-label">Service Category</label>
            <br />
            <b>{{ appointmentDetail?.category_name }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="serviceId" class="form-label">Service Name</label>
            <br />
            <b>{{ appointmentDetail?.service_name }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="serviceId" class="form-label">Service Duration</label>
            <br />
            <b>{{ appointmentDetail?.service_duration }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="serviceId" class="form-label">Service Price</label>
            <br />
            <b>{{ appointmentDetail?.service_price }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="locationId" class="form-label">Location Name</label>
            <br />
            <b>{{ appointmentDetail?.location_name }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="locationId" class="form-label">Location Address</label>
            <br />
            <b>{{ appointmentDetail?.location_address }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="locationId" class="form-label">Location Phone</label>
            <br />
            <b>{{ appointmentDetail?.location_phone }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="locationId" class="form-label">Note</label>
            <br />
            <b>{{
              appointmentDetail?.note != null
                ? appointmentDetail?.note
                : "Not Available"
            }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="appointmentDate" class="form-label"
              >Appointment Date</label
            >
            <br />
            <b>{{ appointmentDetail?.appointment_date | date }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="appointmentTime" class="form-label"
              >Appointment Time</label
            >
            <br />
            <b>{{ appointmentDetail?.appointment_time }}</b>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="mb-3">
            <label for="appointmentTime" class="form-label"
              >Document Name</label
            >
            <br />
            <b>{{
              appointmentDetail?.document_name != null
                ? appointmentDetail?.document_name
                : "Not Available"
            }}</b>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="mb-3">
            <label for="appointmentTime" class="form-label"
              >Payment Link:</label
            >
            <br />
            <a
              target="_blank"
              href="https://app.credodemo.com/pay/lagppad-portal"
              >Payment Link</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a
        target="_blank"
        href="{{ appointmentDetail?.document_url }}"
        class="btn btn-primary btn-rounded"
      >
        View Document
      </a>
    </div>
  </div>
</ng-template>
