<div class="container-fluid">
  <app-page-title
    title="Profile"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-8">
              <div class="text-primary p-3">
                <h5 class="text-primary">Farmer Profile</h5>
                <p class="mb-4">View and Edit Profile</p>
              </div>
            </div>

            <!-- <div class="col-4 mr-2">
              <div class="row mt-4">
                <div
                  class="align-self-end"
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  "
                >
                  <button class="btn btn-info btn-sm">Change Password</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img
                  src="assets/images/users/default-img.jpg"
                  alt=""
                  class="img-thumbnail rounded-circle"
                />
              </div>
              <h5 class="font-size-15 text-truncate">
                {{ farmer?.firstName }} {{ farmer?.lastName }}
              </h5>
              <!-- <p class="text-muted mb-0 text-truncate">UI/UX Designer</p> -->
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-6">
                    <p class="text-muted mb-0 text-center">No. of Farms</p>
                    <h5 class="font-size-13 text-center">6,700</h5>
                  </div>
                  <div class="col-6">
                    <p class="text-muted mb-0 text-center">Total Requests</p>
                    <h5 class="font-size-13 text-center">{{ 0 | number }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Role :</th>
                  <td>{{ farmer?.role }}</td>
                </tr>
                <tr>
                  <th scope="row">First Name :</th>
                  <td>{{ farmer?.firstName }}</td>
                </tr>
                <tr>
                  <th scope="row">last Name :</th>
                  <td>{{ farmer?.lastName }}</td>
                </tr>
                <tr>
                  <th scope="row">Other Name :</th>
                  <td>{{ farmer?.otherName }}</td>
                </tr>
                <tr>
                  <th scope="row">Phone Number :</th>
                  <td>{{ farmer?.phone }}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{ farmer?.email }}</td>
                </tr>
                <tr>
                  <th scope="row">Address :</th>
                  <td>{{ farmer?.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="card-title mb-4">Tasks</h4> -->
          <ul
            ngbNav
            #nav1="ngbNav"
            [activeId]="1"
            class="nav-pills bg-light rounded"
          >
            <li [ngbNavItem]="1">
              <a ngbNavLink>Farm Lands</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 250px">
                  <div class="row p-4">
                    <div class="col-6">
                      <h4
                        class="card-title"
                        style="padding: 0px; font-size: 1.5rem"
                      >
                        Manage Farm Land
                      </h4>
                      <p style="font-size: 1rem">
                        List all tractors managed by owner.
                      </p>
                    </div>
                    <div class="col-6">
                      <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        style="float: right; margin-left: 10px"
                        [width]="150"
                        (onClick)="onShowCreateRecordModal()"
                      >
                        <span style="margin-right: 10px"
                          ><i class="bx bx-slider" style="font-size: 20px"></i
                        ></span>
                        <p
                          style="margin: 0px; font-size: 14px; font-weight: 500"
                        >
                          Add Farm Land
                        </p>
                      </dx-button>
                    </div>
                  </div>
                  <!-- table goes here -->
                  <dx-data-grid
                    id="gridContainer"
                    [dataSource]="farmer?.farmLands"
                    keyExpr="id"
                    [showBorders]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                  >
                    <dxo-paging [pageSize]="10"> </dxo-paging>
                    <dxo-selection mode="single"></dxo-selection>
                    <div>
                      <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        [width]="120"
                      >
                      </dx-button>
                    </div>
                    <dxo-export
                      [enabled]="true"
                      [allowExportSelectedData]="true"
                    ></dxo-export>

                    <dxo-search-panel
                      [visible]="true"
                      [width]="350"
                    ></dxo-search-panel>

                    <dxi-column
                      dataField="location"
                      caption="Location"
                      [width]="800"
                    ></dxi-column>
                    <dxi-column
                      dataField="farmSize"
                      caption="Farm Size"
                      [width]="200"
                    ></dxi-column>

                    <!-- <dxi-column caption="View" name="delistBtn" type="buttons">
                      <dxi-button
                        text="View"
                        [onClick]="viewRecord"
                      ></dxi-button>
                    </dxi-column> -->

                    <dxo-summary>
                      <dxi-total-item column="id" summaryType="count">
                      </dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>
                </ngx-simplebar>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Tractor Requests</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 250px">
                  <div class="row p-4">
                    <div class="col-6">
                      <h4
                        class="card-title"
                        style="padding: 0px; font-size: 1.5rem"
                      >
                        Tractor Requests
                      </h4>
                      <p style="font-size: 1rem">List all tractor requests.</p>
                    </div>
                    <div class="col-6">
                      <!-- <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        style="float: right; margin-left: 10px"
                        [width]="150"
                        (onClick)="onShowCreateRecordModal()"
                      >
                        <span style="margin-right: 10px"
                          ><i class="bx bx-slider" style="font-size: 20px"></i
                        ></span>
                        <p
                          style="margin: 0px; font-size: 14px; font-weight: 500"
                        >
                          Add Farm Land
                        </p>
                      </dx-button> -->
                    </div>
                  </div>
                  <dx-data-grid
                    id="gridContainer"
                    [dataSource]="data"
                    keyExpr="id"
                    [showBorders]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                  >
                    <dxo-paging [pageSize]="10"> </dxo-paging>
                    <dxo-selection mode="single"></dxo-selection>
                    <div>
                      <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        [width]="120"
                      >
                      </dx-button>
                    </div>
                    <dxo-export
                      [enabled]="true"
                      [allowExportSelectedData]="true"
                    ></dxo-export>

                    <dxo-search-panel
                      [visible]="true"
                      [width]="350"
                    ></dxo-search-panel>

                    <dxi-column
                      dataField="firstName"
                      caption="First Name"
                    ></dxi-column>

                    <dxi-column
                      dataField="scheduledDate"
                      caption="Scheduled Date"
                    ></dxi-column>

                    <!-- <dxi-column caption="View" name="delistBtn" type="buttons">
                      <dxi-button
                        text="View"
                        [onClick]="viewRecord"
                      ></dxi-button>
                    </dxi-column> -->

                    <dxo-summary>
                      <dxi-total-item column="id" summaryType="count">
                      </dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>
                </ngx-simplebar>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav1" class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<ng-template #createFarmlandModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Register Tractor</h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="farmSize"
            [class.text-danger]="farmSize.invalid &amp;&amp; farmSize.touched"
            class="form-label"
            >Farm Size (meter square)<span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            name="farmSize"
            #farmSize="ngModel"
            [(ngModel)]="obj.farmSize"
            [class.is-invalid]="farmSize.invalid &amp;&amp; farmSize.touched"
            placeholder="Enter Farm Size"
            required
          />

          <div *ngIf="farmSize.invalid &amp;&amp; farmSize.touched">
            <small *ngIf="farmSize.errors?.required" class="text-danger"
              >Farm Size is Required</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mb-3">
          <label
            for="location"
            [class.text-danger]="location.invalid &amp;&amp; location.touched"
            class="form-label"
            >Location <span class="text-danger">*</span></label
          >
          <!-- <input
            type="text"
            class="form-control"
            name="location"
            #location="ngModel"
            [(ngModel)]="obj.location"
            [class.is-invalid]="location.invalid &amp;&amp; location.touched"
            placeholder="Enter Location"
            required
          /> -->
          <textarea
            type="text"
            class="form-control"
            name="location"
            #location="ngModel"
            [(ngModel)]="obj.location"
            [class.is-invalid]="location.invalid &amp;&amp; location.touched"
            placeholder="Enter Location"
            required
          ></textarea>

          <div *ngIf="location.invalid &amp;&amp; location.touched">
            <small *ngIf="location.errors?.required" class="text-danger"
              >Location is Required</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="!isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        (click)="onSubmit()"
      >
        Capture Farmland
      </button>
      <button
        *ngIf="isLoading"
        class="btn"
        style="background-color: #2a3042; color: #ffffff"
        disabled
      >
        Processing <span><i class="bx bx-loader bx-spin"></i></span>
      </button>
    </div>
  </div>
</ng-template>
