<div class="container-fluid">
  <app-page-title
    title="Profile"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-8">
              <div class="text-primary p-3">
                <h5 class="text-primary">Affiliate Profile</h5>
                <p class="mb-4">View and Edit Profile</p>
              </div>
            </div>

            <!-- <div class="col-4 mr-2">
              <div class="row mt-4">
                <div
                  class="align-self-end"
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  "
                >
                  <button class="btn btn-info btn-sm">Change Password</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img
                  src="assets/images/users/default-img.jpg"
                  alt=""
                  class="img-thumbnail rounded-circle"
                />
              </div>
              <h5 class="font-size-15 text-truncate">
                {{ affiliate?.firstName }} {{ affiliate?.lastName }}
              </h5>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-6">
                    <p class="text-muted mb-0 text-center">Applications</p>
                    <h5 class="font-size-13 text-center">
                      {{ affiliate.applications.length | number }}
                    </h5>
                  </div>
                  <div class="col-6">
                    <p class="text-muted mb-0 text-center">
                      Referred Affiliates
                    </p>
                    <h5 class="font-size-13 text-center">
                      {{ affiliate.referrals.length | number }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Role :</th>
                  <td>{{ affiliate?.role }}</td>
                </tr>
                <tr>
                  <th scope="row">Referrer :</th>
                  <td>
                    {{ affiliate?.referrer?.firstName }}
                    {{ affiliate?.referrer?.lastName }}
                  </td>
                </tr>
                <tr>
                  <th scope="row">First Name :</th>
                  <td>{{ affiliate?.firstName }}</td>
                </tr>
                <tr>
                  <th scope="row">last Name :</th>
                  <td>{{ affiliate?.lastName }}</td>
                </tr>
                <tr>
                  <th scope="row">Other Name :</th>
                  <td>{{ affiliate?.otherName }}</td>
                </tr>
                <tr>
                  <th scope="row">Phone Number :</th>
                  <td>{{ affiliate?.phone }}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{ affiliate?.email }}</td>
                </tr>
                <tr>
                  <th scope="row">Address :</th>
                  <td>{{ affiliate?.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <ul
            ngbNav
            #nav1="ngbNav"
            [activeId]="1"
            class="nav-pills bg-light rounded"
          >
            <li [ngbNavItem]="1">
              <a ngbNavLink>Affiliate Applications</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 250px">
                  <div class="row p-4">
                    <div class="col-6">
                      <h4
                        class="card-title"
                        style="padding: 0px; font-size: 1.5rem"
                      >
                        Affiliate's Applications History
                      </h4>
                      <p style="font-size: 1rem">
                        List all applications performed by affiliate.
                      </p>
                    </div>
                  </div>
                  <!-- table goes here -->

                  <div
                    class="table-responsive"
                    style="overflow-x: auto; max-width: 100%"
                  >
                    <table
                      class="table align-middle gs-0 gy-4"
                      style="width: max-content; min-width: 100%"
                    >
                      <thead>
                        <tr class="fw-bolder text-white bg-primary">
                          <th class="min-w-100px text-gray-900">ID</th>
                          <th class="min-w-100px text-gray-900">Estate</th>
                          <th class="min-w-100px text-gray-900">
                            Property Type
                          </th>
                          <th class="min-w-50px text-gray-900 text-center">
                            Plot Size
                          </th>
                          <th class="min-w-50px text-gray-900 text-center">
                            Price (per plot)
                          </th>
                          <th class="min-w-50px text-gray-900">Customer</th>
                          <th class="min-w-50px text-gray-900">Phone</th>
                          <th class="min-w-50px text-gray-900 text-center">
                            Total Plots
                          </th>
                          <th class="min-w-50px text-gray-900 text-center">
                            Total Amount
                          </th>
                          <th class="min-w-50px text-gray-900 text-center">
                            Payment Status
                          </th>
                          <th class="min-w-50px text-gray-900 text-center">
                            Payment Date
                          </th>
                          <th class="min-w-50px text-gray-900 text-center">
                            Status
                          </th>
                          <th class="min-w-100px text-gray-900">Created At</th>
                          <th class="min-w-100px text-gray-900"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="affiliate?.applications != null">
                          <tr *ngFor="let item of affiliate?.applications">
                            <td>
                              {{ item?.id }}
                            </td>
                            <td>
                              {{ item?.propertyTemplate?.estate?.name }}
                            </td>
                            <td>
                              {{ item.propertyTemplate?.templateName }}
                            </td>
                            <td class="text-center">
                              {{ item.propertyTemplate?.size }} sqm
                            </td>
                            <td class="text-center">
                              {{ item.currentPrice?.price | number }}
                            </td>
                            <td>
                              {{ item.customer?.title || "" }}
                              {{ item.customer?.firstName || "" }}
                              {{ item.customer?.lastName || "" }}
                            </td>
                            <td>
                              {{ item.customer?.phone }}
                            </td>
                            <td class="text-center">
                              {{ item?.units }}
                            </td>
                            <td class="text-center">
                              {{ item?.amount | number }}
                            </td>
                            <td class="text-center">
                              {{ item?.paymentStatus }}
                            </td>
                            <td class="text-center">
                              {{ (item?.paymentDate | date) ?? "---" }}
                            </td>
                            <td class="text-center">
                              {{ item?.status }}
                            </td>
                            <td>
                              {{ item?.createdAt | date }}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </ngx-simplebar>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Referred Affiliates</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 250px">
                  <div class="row p-4">
                    <div class="col-6">
                      <h4
                        class="card-title"
                        style="padding: 0px; font-size: 1.5rem"
                      >
                        Referred Affiliates
                      </h4>
                      <p style="font-size: 1rem">
                        List all referred affiliates.
                      </p>
                    </div>
                  </div>

                  <div
                    class="table-responsive"
                    style="overflow-x: auto; max-width: 100%"
                  >
                    <table
                      class="table align-middle gs-0 gy-4"
                      style="width: max-content; min-width: 100%"
                    >
                      <thead>
                        <tr class="fw-bolder text-white bg-primary">
                          <th
                            class="min-w-10px text-gray-900 text-end rounded-end"
                          ></th>
                          <th class="min-w-100px text-gray-900">First Name</th>
                          <th class="min-w-100px text-gray-900">Last Name</th>
                          <th class="min-w-150px text-gray-900">Email</th>
                          <th class="min-w-100px text-gray-900">Phone</th>
                          <th class="min-w-100px text-gray-900">Birth Date</th>
                          <th class="min-w-50px text-gray-900">Status</th>
                          <th class="min-w-100px text-gray-900">Created At</th>
                          <th class="min-w-100px text-gray-900"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="affiliate.referrals != null">
                          <tr *ngFor="let item of affiliate.referrals">
                            <td>
                              <div
                                class="symbol-label fs-3 bg-light-success text-success"
                                style="
                                  display: flex;
                                  justify-content: center;
                                  border-radius: 50%;
                                  padding: 5px;
                                "
                              >
                                {{ item.firstName[0] }}
                              </div>
                            </td>
                            <td>
                              {{ item.firstName }}
                            </td>
                            <td>
                              {{ item?.lastName }}
                            </td>
                            <td>
                              {{ item?.email }}
                            </td>
                            <td>
                              {{ item?.phone }}
                            </td>
                            <td>
                              {{ item?.birthDate | date }}
                            </td>
                            <td>{{ item?.status }}</td>
                            <td>
                              {{ item?.createdAt | date }}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </ngx-simplebar>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav1" class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
