<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-xl-5 d-none d-md-block">
      <div class="auth-full-bg pt-lg-5 p-4">
        <div class="w-100">
          <div class="bg-overlay"></div>
          <div class="d-flex h-100 flex-column">
            <div class="p-4 mt-auto">
              <div class="row justify-content-center">
                <div class="col-lg-7">
                  <div class="text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-xl-7">
      <div class="auth-full-page-content p-md-5 p-4 affiliate-form-container">
        <div class="w-100">
          <div class="d-flex flex-column h-100">
            <div class="my-auto">
              <div style="text-align: center; margin-bottom: 4rem">
                <img
                  src="assets/images/cadland-logo.png"
                  alt=""
                  class="auth-logo-dark logo"
                />
              </div>
              <div>
                <h5 class="header-text">Create Your Account</h5>
                <p
                  style="
                    margin-top: 1rem;
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                  "
                >
                  Signup for your CadLands Affiliate Account.
                </p>
              </div>

              <p *ngIf="showErr" class="text-danger text-center">
                {{ error }}
              </p>

              <div class="mt-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label
                          for="firstName"
                          [ngClass]="{
                            'text-danger':
                              (f.firstName.touched && f.firstName.errors) ||
                              (submitted && f.firstName.errors),
                            'text-success': submitted && !f.firstName.errors
                          }"
                        >
                          First Name
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          id="firstName"
                          formControlName="firstName"
                          [ngClass]="{
                            'is-invalid':
                              (f.firstName.touched && f.firstName.errors) ||
                              (submitted && f.firstName.errors),
                            'is-valid': submitted && !f.firstName.errors
                          }"
                          placeholder="Enter First Name"
                        />
                        <div
                          *ngIf="
                            (f.firstName.touched && f.firstName.errors) ||
                            (submitted && f.firstName.errors)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.firstName.errors?.required">
                            First Name is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label
                          for="lastName"
                          [ngClass]="{
                            'text-danger':
                              (f.lastName.touched && f.lastName.errors) ||
                              (submitted && f.lastName.errors),
                            'text-success': submitted && !f.lastName.errors
                          }"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="lastName"
                          formControlName="lastName"
                          [ngClass]="{
                            'is-invalid':
                              (f.lastName.touched && f.lastName.errors) ||
                              (submitted && f.lastName.errors),
                            'is-valid': submitted && !f.lastName.errors
                          }"
                          placeholder="Enter Last Name"
                        />
                        <div
                          *ngIf="
                            (f.lastName.touched && f.lastName.errors) ||
                            (submitted && f.lastName.errors)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.lastName.errors?.required">
                            Last Name is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label
                          for="phone"
                          [ngClass]="{
                            'text-danger':
                              (f.phone.touched && f.phone.errors) ||
                              (submitted && f.phone.errors),
                            'text-success': submitted && !f.phone.errors
                          }"
                          >Phone Number</label
                        >
                        <input
                          type="tel"
                          class="form-control"
                          id="phone"
                          formControlName="phone"
                          [ngClass]="{
                            'is-invalid':
                              (f.phone.touched && f.phone.errors) ||
                              (submitted && f.phone.errors),
                            'is-valid': submitted && !f.phone.errors
                          }"
                          placeholder="Enter Phone Number"
                        />
                        <div
                          *ngIf="
                            (f.phone.touched && f.phone.errors) ||
                            (submitted && f.phone.errors)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.phone.errors?.required">
                            Phone Number is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label
                          for="email"
                          [ngClass]="{
                            'text-danger':
                              (f.email.touched && f.email.errors) ||
                              (submitted && f.email.errors),
                            'text-success': submitted && !f.email.errors
                          }"
                          >Email Address</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid':
                              (f.email.touched && f.email.errors) ||
                              (submitted && f.email.errors),
                            'is-valid': submitted && !f.email.errors
                          }"
                          placeholder="Enter email"
                        />
                        <div
                          *ngIf="
                            (f.email.touched && f.email.errors) ||
                            (submitted && f.email.errors)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.email.errors?.required">
                            Email is required
                          </div>
                          <div *ngIf="f.email.errors?.email">
                            Email must be a valid email address
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label
                          for="password"
                          [ngClass]="{
                            'text-danger':
                              (f.password.touched && f.password.errors) ||
                              (submitted && f.password.errors),
                            'text-success': submitted && !f.password.errors
                          }"
                          >Create Password</label
                        >
                        <div class="input-group">
                          <input
                            [type]="passwordFieldType"
                            class="form-control"
                            id="password"
                            formControlName="password"
                            [ngClass]="{
                              'is-invalid':
                                (f.password.touched && f.password.errors) ||
                                (submitted && f.password.errors),
                              'is-valid': submitted && !f.password.errors
                            }"
                            placeholder="Enter Password"
                          />
                          <button
                            class="btn btn-outline-secondary"
                            type="button"
                            (click)="togglePasswordVisibility('password')"
                          >
                            <i
                              class="bx"
                              [ngClass]="
                                passwordFieldType === 'password'
                                  ? 'bx-show'
                                  : 'bx-hide'
                              "
                            ></i>
                          </button>
                          <div
                            *ngIf="
                              (f.password.touched && f.password.errors) ||
                              (submitted && f.password.errors)
                            "
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.password.errors?.required">
                              Password is required
                            </div>
                            <div *ngIf="f.password.errors?.minlength">
                              Password must be at least 6 characters
                            </div>
                            <div *ngIf="f.password.errors?.passwordStrength">
                              Password must include uppercase, lowercase,
                              number, and special character
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label
                          for="confirmPassword"
                          [ngClass]="{
                            'text-danger':
                              (f.confirmPassword.touched &&
                                (f.confirmPassword.errors ||
                                  f.confirmPassword.hasError(
                                    'passwordMismatch'
                                  ))) ||
                              (submitted &&
                                (f.confirmPassword.errors ||
                                  f.confirmPassword.hasError(
                                    'passwordMismatch'
                                  ))),
                            'text-success':
                              submitted &&
                              !f.confirmPassword.errors &&
                              !f.confirmPassword.hasError('passwordMismatch')
                          }"
                          >Confirm Password</label
                        >
                        <div class="input-group">
                          <input
                            [type]="confirmPasswordFieldType"
                            class="form-control"
                            id="confirmPassword"
                            formControlName="confirmPassword"
                            [ngClass]="{
                              'is-invalid':
                                submitted &&
                                (f.confirmPassword.errors ||
                                  f.confirmPassword.hasError(
                                    'passwordMismatch'
                                  )),
                              'is-valid':
                                submitted &&
                                !f.confirmPassword.errors &&
                                !f.confirmPassword.hasError('passwordMismatch')
                            }"
                            placeholder="Confirm Password"
                          />
                          <button
                            class="btn btn-outline-secondary"
                            type="button"
                            (click)="
                              togglePasswordVisibility('confirmPassword')
                            "
                          >
                            <i
                              class="bx"
                              [ngClass]="
                                confirmPasswordFieldType === 'password'
                                  ? 'bx-show'
                                  : 'bx-hide'
                              "
                            ></i>
                          </button>
                          <div
                            *ngIf="
                              submitted &&
                              (f.confirmPassword.errors ||
                                f.confirmPassword.hasError('passwordMismatch'))
                            "
                            class="invalid-feedback"
                          >
                            <div *ngIf="f.confirmPassword.errors?.required">
                              Confirm password is required
                            </div>
                            <div
                              *ngIf="
                                f.confirmPassword.hasError('passwordMismatch')
                              "
                            >
                              Passwords do not match
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="referralCode">Referral Code</label>
                        <input
                          type="text"
                          class="form-control"
                          id="referralCode"
                          formControlName="referralCode"
                          placeholder="Enter Referral Code"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="form-check mt-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="termsAccepted"
                      formControlName="termsAccepted"
                      [ngClass]="{
                        'is-invalid': submitted && f.termsAccepted.errors,
                        'is-valid': submitted && !f.termsAccepted.errors
                      }"
                    />
                    <label class="form-check-label" for="termsAccepted">
                      I have read and agreed to the Cadlands Terms and
                      Conditions
                    </label>
                    <div
                      *ngIf="submitted && f.termsAccepted.errors"
                      class="invalid-feedback d-block"
                    >
                      You must accept the terms and conditions
                    </div>
                  </div>
                  
                  <div class="text-center mt-5">
                    <button
                      class="btn"
                      [disabled]="
                        loginForm.invalid ||
                        f.password.value !== f.confirmPassword.value
                      "
                      style="
                        background-color: #510000;
                        color: #ffff;
                        font-size: 1rem;
                        padding: 1rem 4.5rem;
                        border-radius: 60px;
                      "
                      type="submit"
                    >
                      <span *ngIf="!isLoggingIn">Signup</span>
                      <span *ngIf="isLoggingIn">
                        Processing <i class="bx bx-loader bx-spin"></i>
                      </span>
                    </button>
                  </div>
                </form>
              </div>

              <p
                style="
                  margin-top: 1rem;
                  text-align: center;
                  font-family: Poppins;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 100%;
                  letter-spacing: 0px;
                  text-align: center;
                "
              >
                Already have a account?
                <a href="/account/login" class="text-primary">Login with</a>
              </p>
              <!-- </form> -->
            </div>
          </div>

          <div class="mt-4 mt-md-5 text-left">
            <p class="mb-0">© {{ year }} Cadlands.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->
<!-- </div> -->
<!-- end container-fluid -->
