<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-xl-5">
      <div class="auth-full-bg pt-lg-5 p-4">
        <div class="w-100">
          <div class="bg-overlay"></div>
          <div class="d-flex h-100 flex-column">
            <div class="p-4 mt-auto">
              <div class="row justify-content-center">
                <div class="col-lg-7">
                  <div class="text-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="col-xl-7">
      <div
        class="auth-full-page-content p-md-5 p-4"
        style="margin-right: 10rem"
      >
        <div class="w-100">
          <div class="d-flex flex-column h-100">
            <div class="my-auto">
              <div style="text-align: left; margin-bottom: 4rem">
                <img
                  src="assets/images/cadland-logo.png"
                  width="30%"
                  alt=""
                  class="auth-logo-dark"
                />
              </div>
              <div>
                <h5
                  style="
                    color: #2a3042;
                    font-family: Bilbo Swash Caps !important;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: left;
                  "
                >
                  Reset Password!
                </h5>
                <p
                  style="
                    margin-top: 1rem;
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: left;
                  "
                >
                  Enter a new password to reset your account.
                </p>

                <p
                  *ngIf="showErr"
                  class="text-danger"
                  style="text-align: center"
                >
                  {{ error }}
                </p>
              </div>

              <div class="mt-4">
                <form
                  class="justify-content: center"
                  [formGroup]="loginForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label
                        for="password"
                        [ngClass]="{
                          'text-danger':
                            (f.password.touched && f.password.errors) ||
                            (submitted && f.password.errors),
                          'text-success': submitted && !f.password.errors
                        }"
                        >Enter New Password</label
                      >
                      <div class="input-group">
                        <input
                          [type]="passwordFieldType"
                          class="form-control"
                          id="password"
                          formControlName="password"
                          [ngClass]="{
                            'is-invalid':
                              (f.password.touched && f.password.errors) ||
                              (submitted && f.password.errors),
                            'is-valid': submitted && !f.password.errors
                          }"
                          placeholder="Enter Password"
                        />
                        <button
                          class="btn btn-outline-secondary"
                          type="button"
                          (click)="togglePasswordVisibility('password')"
                        >
                          <i
                            class="bx"
                            [ngClass]="
                              passwordFieldType === 'password'
                                ? 'bx-show'
                                : 'bx-hide'
                            "
                          ></i>
                        </button>
                        <div
                          *ngIf="
                            (f.password.touched && f.password.errors) ||
                            (submitted && f.password.errors)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.password.errors?.required">
                            Password is required
                          </div>
                          <div *ngIf="f.password.errors?.minlength">
                            Password must be at least 6 characters
                          </div>
                          <div *ngIf="f.password.errors?.passwordStrength">
                            Password must include uppercase, lowercase, number,
                            and special character
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label
                        for="confirmPassword"
                        [ngClass]="{
                          'text-danger':
                            (f.confirmPassword.touched &&
                              (f.confirmPassword.errors ||
                                f.confirmPassword.hasError(
                                  'passwordMismatch'
                                ))) ||
                            (submitted &&
                              (f.confirmPassword.errors ||
                                f.confirmPassword.hasError(
                                  'passwordMismatch'
                                ))),
                          'text-success':
                            submitted &&
                            !f.confirmPassword.errors &&
                            !f.confirmPassword.hasError('passwordMismatch')
                        }"
                        >Confirm Password</label
                      >
                      <div class="input-group">
                        <input
                          [type]="confirmPasswordFieldType"
                          class="form-control"
                          id="confirmPassword"
                          formControlName="confirmPassword"
                          [ngClass]="{
                            'is-invalid':
                              (f.confirmPassword.touched &&
                                (f.confirmPassword.errors ||
                                  f.confirmPassword.hasError(
                                    'passwordMismatch'
                                  ))) ||
                              (submitted &&
                                (f.confirmPassword.errors ||
                                  f.confirmPassword.hasError(
                                    'passwordMismatch'
                                  ))),
                            'is-valid':
                              submitted &&
                              !f.confirmPassword.errors &&
                              !f.confirmPassword.hasError('passwordMismatch')
                          }"
                          placeholder="Confirm Password"
                        />
                        <button
                          class="btn btn-outline-secondary"
                          type="button"
                          (click)="togglePasswordVisibility('confirmPassword')"
                        >
                          <i
                            class="bx"
                            [ngClass]="
                              confirmPasswordFieldType === 'password'
                                ? 'bx-show'
                                : 'bx-hide'
                            "
                          ></i>
                        </button>
                        <div
                          *ngIf="
                            f.confirmPassword.touched &&
                            (f.confirmPassword.errors ||
                              f.confirmPassword.hasError('passwordMismatch'))
                          "
                          class="invalid-feedback"
                        >
                          <div
                            *ngIf="
                              f.confirmPassword.touched &&
                              f.confirmPassword.errors?.required
                            "
                          >
                            Confirm password is required
                          </div>
                          <div
                            *ngIf="
                              f.confirmPassword.touched &&
                              f.confirmPassword.hasError('passwordMismatch')
                            "
                          >
                            Passwords do not match
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="remember-check"
                    />
                    <label class="form-check-label" for="remember-check">
                      Remember me
                    </label>
                  </div>

                  <div style="margin-top: 4rem; text-align: left">
                    <button
                      *ngIf="isLoggingIn"
                      class="btn"
                      style="
                        background-color: #510000;
                        color: #ffff;
                        font-size: 1rem;
                        padding: 1rem 4.5rem;
                        border-radius: 60px;
                      "
                      type="submit"
                    >
                      Logging In <i class="bx bx-loader bx-spin"></i>
                    </button>
                    <button
                      *ngIf="!isLoggingIn"
                      class="btn"
                      style="
                        background-color: #510000;
                        color: #ffff;
                        font-size: 1rem;
                        padding: 1rem 4.5rem;
                        border-radius: 60px;
                      "
                      type="submit"
                    >
                      Log In
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="mt-4 mt-md-5 text-left">
              <p class="mb-0">© {{ year }} Cadlands.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end container-fluid -->
