:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../assets/images/real_estate1.jpeg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%;
    opacity: 3 !important;
  }