<div class="container-fluid">
  <app-loader></app-loader>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <div>
          <h4 class="mb-0 font-size-18">My Referrals</h4>
          <p class="font-size-15">Overview of all earnings and withdrawals</p>
        </div>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item active">Welcome to Dashboard</li> -->
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <span
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <p class="text-muted fs-5 fw-medium">
                  Affiliate Registration Link:
                </p>
                <i
                  *ngIf="!copied"
                  (click)="
                    copyText(
                      'https://ca.cadlands.com/account/affiliate-registration/referral/' +
                        referralCode
                    )
                  "
                  class="bx bx-copy fs-2 text-primary"
                  style="cursor: pointer"
                ></i>
                <p *ngIf="copied" class="text-success fs-5">
                  Copied successfully!
                </p>
              </span>
              <h5 class="mb-0 text-primary">
                https://ca.cadlands.com/account/affiliate-registration/referral/{{
                  referralCode
                }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <span
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                "
              >
                <p class="text-muted fs-5 fw-medium">Buy Land:</p>
                <i
                  *ngIf="!copied"
                  (click)="
                    copyText(
                      'https://www.cadlands.com/buy-land-referral/' +
                        referralCode
                    )
                  "
                  class="bx bx-copy fs-2 text-primary"
                  style="cursor: pointer"
                ></i>
                <p *ngIf="copied" class="text-success fs-5">
                  Copied successfully!
                </p>
              </span>
              <h5 class="mb-0 text-primary">
                https://www.cadlands.com/buy-land-referral/{{ referralCode }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-12 table-card">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fs-5 fw-medium">
                Total Referral Subscriptions
              </p>
              <h2 class="mb-0 text-danger">
                {{
                  getTotalAmount(
                    (transactions$ | async)?.data?.subscriptionBonuses || []
                  ).count | number
                }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 table-card">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fs-5 fw-medium">
                Total Referral Subscriptions Bonus
              </p>
              <h2 class="mb-0 text-success">
                NGN
                {{
                  getTotalAmount(
                    (transactions$ | async)?.data?.subscriptionBonuses || []
                  ).totalAmount | number
                }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card" style="box-shadow: 0 0 3px #cecbcb">
        <div class="card-body">
          <ul
            ngbNav
            #nav1="ngbNav"
            [activeId]="1"
            class="nav-pills bg-light rounded"
          >
          <li [ngbNavItem]="1">
            <a ngbNavLink>Referred Affiliates</a>
            <ng-template ngbNavContent>
              <ngx-simplebar style="height: 100%">
                <div class="row p-4">
                  <div class="col-6">
                    <h4
                      class="card-title"
                      style="padding: 0px; font-size: 1.5rem"
                    >
                      Referred Affiliates
                    </h4>
                    <p style="font-size: 1rem">
                      List all referred affiliates.
                    </p>
                  </div>
                </div>

                <div
                  class="table-responsive"
                  style="overflow-x: auto; max-width: 100%"
                >
                  <table
                    class="table align-middle gs-0 gy-4"
                    style="width: max-content; min-width: 100%"
                  >
                    <thead>
                      <tr class="fw-bolder text-white bg-primary">
                        <th
                          class="min-w-10px text-gray-900 text-end rounded-end"
                        ></th>
                        <th class="min-w-100px text-gray-900">First Name</th>
                        <th class="min-w-100px text-gray-900">Last Name</th>
                        <th class="min-w-150px text-gray-900">Email</th>
                        <th class="min-w-100px text-gray-900">Phone</th>
                        <th class="min-w-100px text-gray-900">Birth Date</th>
                        <th class="min-w-50px text-gray-900">Status</th>
                        <th class="min-w-100px text-gray-900">Created At</th>
                        <th class="min-w-100px text-gray-900"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="affiliate.referrals != null">
                        <tr *ngFor="let item of affiliate.referrals">
                          <td>
                            <div
                              class="symbol-label fs-3 bg-light-success text-success"
                              style="
                                display: flex;
                                justify-content: center;
                                border-radius: 50%;
                                padding: 5px;
                              "
                            >
                              {{ item.firstName[0] }}
                            </div>
                          </td>
                          <td>
                            {{ item.firstName }}
                          </td>
                          <td>
                            {{ item?.lastName }}
                          </td>
                          <td>
                            {{ item?.email }}
                          </td>
                          <td>
                            {{ item?.phone }}
                          </td>
                          <td>
                            {{ item?.birthDate | date }}
                          </td>
                          <td>{{ item?.status }}</td>
                          <td>
                            {{ item?.createdAt | date }}
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </ngx-simplebar>
            </ng-template>
          </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>My Referral Bonuses</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 100%">
                  <div class="row">
                    <div class="col-12">
                      <div class="row mt-4 mb-2">
                        <h4 class="text-primary" style="font-weight: bold">
                          My Referrals
                        </h4>
                      </div>
                      <p style="font-size: 1rem">This list all referrals.</p>
                    </div>

                    <div
                      class="table-responsive"
                      style="overflow-x: auto; max-width: 100%"
                    >
                      <table
                        class="table align-middle gs-0 gy-4"
                        style="width: max-content; min-width: 100%"
                      >
                        <thead>
                          <tr class="fw-bolder text-white bg-primary">
                            <th
                              class="min-w-10px text-gray-900 text-end text-center"
                            ></th>
                            <th class="min-w-250px text-gray-900">Narration</th>
                            <th class="min-w-300px text-gray-900">Affiliate</th>
                            <th class="min-w-300px text-gray-900">Package</th>
                            <th class="min-w-300px text-gray-900 text-center">
                              Package Price
                            </th>
                            <th class="min-w-300px text-gray-900 text-center">
                              Subcription Type
                            </th>
                            <th class="min-w-300px text-gray-900 text-center">
                              Subcription Status
                            </th>
                            <th class="min-w-300px text-gray-900 text-center">
                              Start Date
                            </th>
                            <th class="min-w-300px text-gray-900 text-center">
                              End Date
                            </th>
                            <th class="min-w-150px text-gray-900 text-center">
                              Bonus Amount
                            </th>
                            <th class="min-w-150px text-gray-900 text-center">
                              Bonus Commission (%)
                            </th>
                            <th class="min-w-150px text-gray-900 text-center">
                              Approval Status
                            </th>
                            <th class="min-w-150px text-gray-900 text-center">
                              Payment Status
                            </th>
                            <th class="min-w-150px text-gray-900 text-center">
                              Payment Date
                            </th>
                            <th class="min-w-150px text-gray-900 text-center">
                              Created At
                            </th>
                            <!-- <th class="min-w-100px text-gray-900"></th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container
                            *ngIf="
                              (transactions$ | async)?.data
                                ?.subscriptionBonuses != null
                            "
                          >
                            <tr
                              *ngFor="
                                let item of (transactions$ | async)?.data
                                  ?.subscriptionBonuses
                              "
                            >
                              <td class="text-center">
                                {{ item.id }}
                              </td>
                              <td>
                                {{ item.narration }}
                              </td>
                              <td>
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.affiliate?.firstName
                                }}
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.affiliate?.lastName
                                }}
                              </td>
                              <td>
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.affiliatePackage?.packageName
                                }}
                              </td>
                              <td class="text-center">
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.currentPrice?.amount | number
                                }}
                              </td>
                              <td class="text-center">
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.subscriptionType
                                }}
                              </td>
                              <td class="text-center">
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.subscriptionStatus
                                }}
                              </td>
                              <td class="text-center">
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.startDate | date
                                }}
                              </td>
                              <td class="text-center">
                                {{
                                  item?.subscriptionPayment?.subscription
                                    ?.endDate | date
                                }}
                              </td>
                              <td class="text-center">
                                {{ item?.amount | number }}
                              </td>
                              <td class="text-center">
                                {{
                                  item?.currentDirectSaleCommission?.commission
                                    | number
                                }}
                              </td>
                              <td class="text-center">
                                {{ item.approvalStatus }}
                              </td>
                              <td class="text-center">
                                {{ item.paymentStatus }}
                              </td>
                              <td class="text-center">
                                {{ item.paymentDate | date }}
                              </td>
                              <td class="text-center">
                                {{ item.createdAt | date }}
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </ngx-simplebar>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav1" class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
