<div class="container-fluid">
  <app-page-title
    title="Profile"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-8">
              <div class="text-primary p-3">
                <h5 class="text-primary">Agent Profile</h5>
                <p class="mb-4">View and Edit Profile</p>
              </div>
            </div>

            <!-- <div class="col-4 mr-2">
              <div class="row mt-4">
                <div
                  class="align-self-end"
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  "
                >
                  <button class="btn btn-info btn-sm">Change Password</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img
                  src="assets/images/users/default-img.jpg"
                  alt=""
                  class="img-thumbnail rounded-circle"
                />
              </div>
              <h5 class="font-size-15 text-truncate">
                {{ staff?.firstName }} {{ staff?.lastName }}
              </h5>
              <!-- <p class="text-muted mb-0 text-truncate">UI/UX Designer</p> -->
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-6">
                    <p class="text-muted mb-0 text-center">No. of Farms</p>
                    <h5 class="font-size-13 text-center">6,700</h5>
                  </div>
                  <div class="col-6">
                    <p class="text-muted mb-0 text-center">Total Requests</p>
                    <h5 class="font-size-13 text-center">{{ 0 | number }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Role :</th>
                  <td>{{ staff?.role }}</td>
                </tr>
                <tr>
                  <th scope="row">First Name :</th>
                  <td>{{ staff?.firstName }}</td>
                </tr>
                <tr>
                  <th scope="row">last Name :</th>
                  <td>{{ staff?.lastName }}</td>
                </tr>
                <tr>
                  <th scope="row">Other Name :</th>
                  <td>{{ staff?.otherName }}</td>
                </tr>
                <tr>
                  <th scope="row">Phone Number :</th>
                  <td>{{ staff?.phone }}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{ staff?.email }}</td>
                </tr>
                <tr>
                  <th scope="row">Address :</th>
                  <td>{{ staff?.address }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="card-title mb-4">Tasks</h4> -->
          <ul
            ngbNav
            #nav1="ngbNav"
            [activeId]="1"
            class="nav-pills bg-light rounded"
          >
            <li [ngbNavItem]="1">
              <a ngbNavLink>Farmers</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 250px">
                  <!-- table goes here -->
                  <dx-data-grid
                    id="gridContainer"
                    [dataSource]="data"
                    keyExpr="id"
                    [showBorders]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                  >
                    <dxo-paging [pageSize]="10"> </dxo-paging>
                    <dxo-selection mode="single"></dxo-selection>
                    <div>
                      <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        [width]="120"
                      >
                      </dx-button>
                    </div>
                    <dxo-export
                      [enabled]="true"
                      [allowExportSelectedData]="true"
                    ></dxo-export>

                    <dxo-search-panel
                      [visible]="true"
                      [width]="350"
                    ></dxo-search-panel>

                    <dxi-column
                      dataField="location"
                      caption="Location"
                      [width]="800"
                    ></dxi-column>
                    <dxi-column
                      dataField="farmSize"
                      caption="Farm Size"
                      [width]="200"
                    ></dxi-column>

                    <!-- <dxi-column caption="View" name="delistBtn" type="buttons">
                      <dxi-button
                        text="View"
                        [onClick]="viewRecord"
                      ></dxi-button>
                    </dxi-column> -->

                    <dxo-summary>
                      <dxi-total-item column="id" summaryType="count">
                      </dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>
                </ngx-simplebar>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Tractor Requests</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 250px">
                  <dx-data-grid
                    id="gridContainer"
                    [dataSource]="data"
                    keyExpr="id"
                    [showBorders]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                  >
                    <dxo-paging [pageSize]="10"> </dxo-paging>
                    <dxo-selection mode="single"></dxo-selection>
                    <div>
                      <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        [width]="120"
                      >
                      </dx-button>
                    </div>
                    <dxo-export
                      [enabled]="true"
                      [allowExportSelectedData]="true"
                    ></dxo-export>

                    <dxo-search-panel
                      [visible]="true"
                      [width]="350"
                    ></dxo-search-panel>

                    <dxi-column
                      dataField="firstName"
                      caption="First Name"
                    ></dxi-column>

                    <dxi-column
                      dataField="scheduledDate"
                      caption="Scheduled Date"
                    ></dxi-column>
                    
                    <!-- <dxi-column caption="View" name="delistBtn" type="buttons">
                      <dxi-button
                        text="View"
                        [onClick]="viewRecord"
                      ></dxi-button>
                    </dxi-column> -->

                    <dxo-summary>
                      <dxi-total-item column="id" summaryType="count">
                      </dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>
                </ngx-simplebar>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Tractor Owners</a>
              <ng-template ngbNavContent>
                <ngx-simplebar style="height: 250px">
                  <dx-data-grid
                    id="gridContainer"
                    [dataSource]="data"
                    keyExpr="id"
                    [showBorders]="true"
                    [showColumnLines]="true"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                  >
                    <dxo-paging [pageSize]="10"> </dxo-paging>
                    <dxo-selection mode="single"></dxo-selection>
                    <div>
                      <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        [width]="120"
                      >
                      </dx-button>
                    </div>
                    <dxo-export
                      [enabled]="true"
                      [allowExportSelectedData]="true"
                    ></dxo-export>

                    <dxo-search-panel
                      [visible]="true"
                      [width]="350"
                    ></dxo-search-panel>

                    <dxi-column
                      dataField="firstName"
                      caption="First Name"
                    ></dxi-column>

                    <dxi-column
                      dataField="scheduledDate"
                      caption="Scheduled Date"
                    ></dxi-column>
                    
                    <!-- <dxi-column caption="View" name="delistBtn" type="buttons">
                      <dxi-button
                        text="View"
                        [onClick]="viewRecord"
                      ></dxi-button>
                    </dxi-column> -->

                    <dxo-summary>
                      <dxi-total-item column="id" summaryType="count">
                      </dxi-total-item>
                    </dxo-summary>
                  </dx-data-grid>
                </ngx-simplebar>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav1" class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
