<div class="container-fluid">
  <app-loader></app-loader>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <div>
          <h4 class="mb-0 font-size-18">Dashboard</h4>
          <p class="font-size-15">
            Hi, <strong>{{ first_name }}</strong
            >. Welcome back to Cadlands!
          </p>
        </div>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <!-- <li class="breadcrumb-item active">Welcome to Dashboard</li> -->
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-md-3 col-sm-12 table-card">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fs-5 fw-medium">My Total Land Sales</p>
              <h2 class="mb-0">
                NGN
                {{
                  getPaidSales(
                    (mySales$ | async)?.data?.applicationRequests || []
                  ).totalAmount | number
                }}
              </h2>
              <h6 class="mb-0 mt-2">
                Land Sold:
                {{
                  getPaidSales(
                    (mySales$ | async)?.data?.applicationRequests || []
                  ).count
                    | number
                    | number
                }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12 table-card">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fs-5 fw-medium">
                Direct Land Sales Commission
              </p>
              <h2 class="mb-0">
                NGN
                {{
                  getTotalAmount(
                    (directCommissions$ | async)?.data?.affiliateCommissions ||
                      []
                  ).totalAmount | number
                }}
              </h2>
              <h6 class="mb-0 mt-2">
                Land Sold:
                {{
                  getTotalAmount(
                    (directCommissions$ | async)?.data?.affiliateCommissions ||
                      []
                  ).count | number
                }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="col-md-3 col-sm-12 table-card">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fs-5 fw-medium">
                Indirect Land Sales Commission
              </p>
              <h2 class="mb-0">
                NGN
                {{
                  getTotalAmount(
                    (indirectCommissions$ | async)?.data
                      ?.affiliateCommissions || []
                  ).totalAmount | number
                }}
              </h2>
              <h6 class="mb-0 mt-2">
                Land Sold:
                {{
                  getTotalAmount(
                    (indirectCommissions$ | async)?.data
                      ?.affiliateCommissions || []
                  ).count | number
                }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12 table-card">
      <div class="card mini-stats-wid">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <p class="text-muted fs-5 fw-medium">Affiliate Signup Bonus</p>
              <h2 class="mb-0">
                NGN
                {{
                  getTotalAmount(
                    (referralBonuses$ | async)?.data?.subscriptionBonuses || []
                  ).totalAmount | number
                }}
              </h2>
              <h6 class="mb-0 mt-2">
                Affiliate Referral:
                {{
                  getTotalAmount(
                    (referralBonuses$ | async)?.data?.subscriptionBonuses || []
                  ).count | number
                }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card" style="box-shadow: 0 0 3px #cecbcb">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h4 class="card-title" style="padding: 0px">
                All Land Sales Earnings
              </h4>
              <p style="font-size: 1rem">This list all land sales earnings.</p>
            </div>

            <div class="table-responsive" style="max-width: 100%">
              <table class="table align-middle gs-0 gy-4">
                <thead>
                  <tr class="fw-bolder text-white bg-primary">
                    <!-- <th
                      class="min-w-10px text-gray-900 text-end text-center"
                    ></th> -->
                    <th class="min-w-300px text-gray-900 text-center">
                      Application ID
                    </th>
                    <th class="min-w-300px text-gray-900">Property Template</th>
                    <th class="min-w-300px text-gray-900 text-center">
                      No. of Plots
                    </th>
                    <th class="min-w-300px text-gray-900">Customer</th>

                    <!-- <th class="min-w-300px text-gray-900">Affiliate</th>
                    <th class="min-w-300px text-gray-900">Phone</th>
                    <th class="min-w-300px text-gray-900">Email</th> -->
                    <th class="min-w-300px text-gray-900 text-center">
                      Paid Amount
                    </th>
                    <th class="min-w-300px text-gray-900 text-center">
                      Coomission Amount
                    </th>
                    <th class="min-w-300px text-gray-900 text-center">
                      Commission(%)
                    </th>
                    <th class="min-w-300px text-gray-900">Payment Date</th>

                    <th class="min-w-150px text-gray-900">Status</th>
                    <th class="min-w-150px text-gray-900">Created At</th>
                    <!-- <th class="min-w-100px text-gray-900"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngIf="
                      (transactions$ | async)?.data?.applicationRequests != null
                    "
                  >
                    <tr
                      *ngFor="
                        let item of (transactions$ | async)?.data
                          ?.applicationRequests
                      "
                    >
                      <td class="text-center">
                        {{ item.id }}
                      </td>
                      <td>
                        {{ item?.propertyTemplate?.templateName }}
                      </td>
                      <td class="text-center">
                        {{ item?.units }}
                      </td>
                      <td>
                        {{ item?.customer?.firstName }}
                        {{ item?.customer?.lastName }}
                      </td>
                      <!-- <td>
                        {{ item.directAffiliate.firstName }}
                        {{ item.directAffiliate.lastName }}
                      </td>
                      <td>
                        {{ item.directAffiliate.phone }}
                      </td>
                      <td>
                        {{ item.directAffiliate.email }}
                      </td> -->
                      <td class="text-center">
                        {{ item?.amount | number }}
                      </td>
                      <td class="text-center">
                        {{
                          item?.amount *
                            (item?.directCommission?.commission / 100) | number
                        }}
                      </td>
                      <td class="text-center">
                        {{ item?.directCommission?.commission | number }}
                      </td>
                      <td>
                        {{ item?.paymentDate | date }}
                      </td>

                      <td>
                        <span class="fs-7 fw-bold">{{ item?.status }}</span>
                      </td>
                      <td>
                        {{ item.createdAt | date }}
                      </td>
                      <!-- <td class="text-end">
                        <a
                          (click)="edit(item)"
                          class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                        >
                          View
                        </a>
                      </td> -->
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
