/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// NobleUI styles For RTL
.dx-datagrid-headers {
  background-color: #2a3042 !important;
  color: #fff !important;
  font-weight: bold !important;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1px #dc3545;
}

// .ng-select .ng-value-container .ng-value {
//   color: #ff0000; /* Replace with your desired color */
// }

// /* For single selection */
// .ng-select.ng-single .ng-value-container .ng-value {
//   color: #ff0000; /* Replace with your desired color */
// }

// /* For the highlighted/selected option in the dropdown */
// .ng-select .ng-dropdown-panel .ng-option.ng-option-selected {
//   color: #ff0000; /* Text color for selected option */
//   background-color: #f0f0f0; /* Background color for selected option */
// }

// /* For the currently focused/highlighted option as you navigate with keyboard */
// .ng-select .ng-dropdown-panel .ng-option.ng-option-marked {
//   color: #0000ff; /* Text color for marked/highlighted option */
//   background-color: #e0e0e0; /* Background color for marked option */
// }

.form-control {
  height: 48px !important;
  border-radius: 10px;
}

/* Change confirm button color globally */
.swal2-confirm {
  background-color: #450000 !important; /* Your preferred color */
  border-radius: 50px !important; /* Makes buttons rounded */
}

/* Change cancel button color if needed */
.swal2-deny {
  background-color: #d33 !important; /* Your preferred color */
  border-radius: 50px !important; /* Makes buttons rounded */
}

/* Optional: Style for both buttons at once */
.swal2-confirm,
.swal2-cancel {
  padding: 8px 25px !important; /* Adjust padding for better rounded appearance */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important; /* Optional: adds subtle shadow */
}
